Resources:
  sslSecurityGroupIngress:
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {"Fn::GetAtt" : ["AWSEBSecurityGroup", "sg-06ccbdfed9fb9f88f"]}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 80
      SourceSecurityGroupName: {"Fn::GetAtt" : ["AWSEBLoadBalancer" , "awseb-e-cfx25jntea-stack-AWSEBSecurityGroup-1FZH1VR2QNTVL"]}